body{
     font-family: sans-serif;
     margin: 0;
}
ul {
     list-style-type:none;
}

nav{
     background-color: white;  
     border-radius:20px;
}

a{
     text-decoration: none;
}

.dark {
     background: black;
     color: white;
}
.buttonPosts {
     color: red;
}
.tarjeta img {
     width: 100%;
     
}

#menu {
     display: none;
}

button {
     border: none;
     background-color: transparent;
     padding: 20px;
     cursor: pointer;
     text-decoration: underline;
}

#ads,#seeAll, #bestOfTheWeek, #travel{
     border-radius: 50px;
}

section img, aside img {
     border-radius: 50px;
}

.tarjeta {
     margin: 20px 0;
}


#travel {
     position: relative;
     color: black;
}

#travel span {
     position: absolute;
     background-color: white;
     border-radius: 20px;
     padding: 0 20px;
     top: 20px;
     left: 20px;
     font-size: 50px;
}

#travel button{
     position: absolute;
     background-color: white;
     border-radius: 20px;
     padding: 0 20px;
     top: 80px;
     left: 20px;
     font-size: 40px;
}

#travel .info {
     position: absolute;
     
     padding: 0 20px;
     bottom: 20px;
     right: 20px;
     
}



#travel .info h2,
#travel .info span {
     font-size: 20px;
     background-color: white;
     border-radius: 20px;
     margin: 10px 0;
}

#travel .info span {
     left: 0;
     top: 0;
     position: relative;
}

#ads {
     color: black;
     background-color: lightgreen;
}
#seeAll {
     background-color: lightblue;
}

#ads {
     position: relative;
     padding: 40px;
     text-align: center;
}
#ads button {
     position: absolute;
     right: 20px;
     top: 20px;
     border: solid 1px black;
     font-weight: bold;
     border-radius: 50%; 
     padding: 20px;
     cursor: pointer;
     text-decoration: none;
}
#ads * {
     display: block;
}

@media screen and (min-width: 769px){
     main {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
     }
     nav ul{
          display: flex;
          justify-content: space-around;
     }
     
     section {
          width: 60%;
          display: flex;
          flex-direction: column;
     }
     aside {
          width: 30%;
          margin: 0 auto;
     }
     #travel{
          background-color: hotpink;
     }
     
     
     #ads,#seeAll {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}

@media screen and (max-width:768px) {
     nav {
          border: solid 1px black;
     }
     #buscar {
          display: none;
     }
     #menu {
          display: block;
          width: 100%;
     }
     nav ul {
          display: none;
     }
     
     #travel span{
          font-size: 25px;
     }
     #travel button {
          font-size: 20px;
     }
}


@media screen and (orientation: landscape){
     * {
          display: block;
     }
}

.ocultar {
     display: none;
}

.post{
     padding: 20px;
     border: solid 1px lightblue;
     margin: 10px, 0;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
     border-radius: 20px;
}

#dark-button {
     background: black;
     color: white;
     border-radius: 5px;
     margin-top: 10px;
     text-decoration: none;
}

#dark-button:hover {
     transform: scale(1.02);
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.804);
}

#dark-button:active {
     transform: scale(0.95);
}

.contador-likes{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     font-size: 80px;
     font-weight: bold;
     background: rgb(128, 128, 250);
     padding: 50px;
     border-radius: 5px;
     color: white;
     z-index: 1;
     pointer-events: none;
}